<!-- newRequest-q12.html -->
<div class="form-group">
	<blockquote>
  		<p>Test Plan:</p>
  		<footer>Describe how you will test that the change 1) Does not break any customer's service and 2) functions as intended (ie: the change works).</footer>
	</blockquote>
	<textarea class="form-control" id="textareaEdit" ng-model="newRequest.testPlan"></textarea>
</div>

<div class="form-group row">
	<div align="center">
		<a ui-sref="newRequest.q11" type="button" name="next" class="next action-button btn btn-primary"><span class="glyphicon glyphicon-circle-arrow-left"></span> Previous</a>
		<a ui-sref="newRequest.q13" type="button" name="next" class="next action-button btn btn-primary">Next <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
    </div>
</div>