<!-- newRequest-q4.html -->
<div class="form-group">
	<blockquote>
  		<p>Justification for change:</p>
	</blockquote>
	<textarea class="form-control" id="textareaEdit" ng-model="newRequest.justificationForChange"></textarea>
</div>

<div class="form-group row">
	<div align="center">
		<a ui-sref="newRequest.q3" type="button" name="next" class="next action-button btn btn-primary"><span class="glyphicon glyphicon-circle-arrow-left"></span> Previous</a>
		<a ui-sref="newRequest.q5" type="button" name="next" class="next action-button btn btn-primary">Next <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
    </div>
</div>